[Unit]
Description=Per-process network traffic redirection using eBPF

[Service]
BusName=service.rebpf
ExecStart=/bin/rebpf

[Install]
WantedBy=network.target
