[Desktop Entry]
Version=1.0
Type=Application
Name=Rebpf
Comment=Per-process network traffic redirection using eBPF
Exec=rebpf-gui
Icon=rebpf-gui
Terminal=false
Categories=Utility;
